<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @local.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @local.descricao %>
</p>

<p>
  <strong>Logradouro:</strong>
  <%= @local.logradouro %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @local.bairro %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @local.tipo %>
</p>

<p>
  <strong>Animacao:</strong>
  <%= @local.animacao %>
</p>

<p>
  <strong>Interacao:</strong>
  <%= @local.interacao %>
</p>

<p>
  <strong>Faixaetaria:</strong>
  <%= @local.faixaEtaria %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @local.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @local.latitude %>
</p>

<p>
  <strong>Imagem:</strong>
  <%= @local.imagem %>
</p>

<p>
  <strong>Nota:</strong>
  <%= @local.nota %>
</p>

<p>
  <strong>Cod linha:</strong>
  <%= @local.cod_linha %>
</p>

<p>
  <strong>Preco:</strong>
  <%= @local.preco %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @local.telefone %>
</p>

<p>
  <strong>Site:</strong>
  <%= @local.site %>
</p>

<p>
  <strong>Horario abre:</strong>
  <%= @local.horario_abre %>
</p>

<p>
  <strong>Horario fecha:</strong>
  <%= @local.horario_fecha %>
</p>

<%= link_to 'Edit', edit_local_path(@local) %> |
<%= link_to 'Back', locals_path %>
