<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @lugar.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @lugar.descricao %>
</p>

<p>
  <strong>Logradouro:</strong>
  <%= @lugar.logradouro %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @lugar.bairro %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @lugar.tipo %>
</p>

<p>
  <strong>Animacao:</strong>
  <%= @lugar.animacao %>
</p>

<p>
  <strong>Interacao:</strong>
  <%= @lugar.interacao %>
</p>

<p>
  <strong>Faixaetaria:</strong>
  <%= @lugar.faixaEtaria %>
</p>

<p>
  <strong>Logitude:</strong>
  <%= @lugar.logitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @lugar.latitude %>
</p>

<p>
  <strong>Imagem:</strong>
  <%= @lugar.imagem %>
</p>

<p>
  <strong>Nota:</strong>
  <%= @lugar.nota %>
</p>

<p>
  <strong>Cod linha:</strong>
  <%= @lugar.cod_linha %>
</p>

<p>
  <strong>Preco:</strong>
  <%= @lugar.preco %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @lugar.telefone %>
</p>

<p>
  <strong>Site:</strong>
  <%= @lugar.site %>
</p>

<%= link_to 'Edit', edit_lugar_path(@lugar) %> |
<%= link_to 'Back', lugars_path %>
