<!DOCTYPE html>
<html>
	<head>
		<title>Forms</title>
	</head>
		<body>
			<div class="main">
				<div class="container">
					<h1><b>Formulário</b></h1>
					<p>Preencha o formulário para achar um lugar!</p>
						
					<%= form_tag("sugestao", method: "get") do %>

						<p>Qual sua preferencia quanto ao espirito do local?</p>
						<%= radio_button_tag(:espirito_local, "A") %>
						<%= label_tag("Agitado") %><br>
						<%= radio_button_tag(:espirito_local, "C") %>
						<%= label_tag("Calmo") %><br>
						
						<p>Qual sua preferencia quanto a sua experiência?</p>
						<%= radio_button_tag(:experiencia, "I") %>
						<%= label_tag("Interativo") %><br>
						<%= radio_button_tag(:experiencia, "E") %>
						<%= label_tag("Expositivo") %><br>
						<br>
						Distância Máx:<br>
						<%= number_field(:distancia_max,:dm)%>
						<%= label_tag(" Km")%><br>
						Preço desejado:<br>
						<%= number_field(:preco_desejado, :pd)%>
						<%= label_tag(" R$")%><br><br>
						Horário desejado:
						Das:<br>
						<%= text_area_tag(:hora_inicial)%>
						As:
						<%= text_area_tag(:hora_final)%><br><br>
						<%= submit_tag("Submit") %><br>
					<%end%>
					<form action="welcome" method="get">
						<br><input id="back" type="submit" value="Voltar">
					</form>
						
				</div>
			</div>
		</body>
</html>

