<div class="row">
	<div class="col-md-10 col-md-offset-1 grid3">
		<h1><b>SOBRE O LOCAL</b></h1>
		<br>
		<br>
		<% @desc.each do |l| %>
			<%= image_tag(l.imagem, :class => 'img2') %>
			<h1 class="t"><%= l.nome %></h1>
			<br>
			<p>
			Logradouro: <%= l.logradouro %>
			<br>
      		Bairro: <%= l.bairro %>
			<br>
			Preço de Entrada: R$ <%= l.preco %>
			<br>
			Contato: <%= l.telefone %>
			<br>
			Site: <%= l.site %>
			<br>
			Horário de Funcionamento: <%= l.horario_abre %> às <%= l.horario_fecha %> 
			<br>
			Nota do Local: <%= l.nota %>
			</p>
			<br>
			<br>
			<br>
			<h3>Descrição:</h3>
			<p class="p1"><%= l.descricao %><p>
			<br>
		<% end %>
	</div>
</div>
